* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	scroll-behavior: smooth;
	scroll-padding-top: 10rem;
	list-style: none;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	color: #2b2b2b;
	font-family: "Poppins", sans-serif;
	font-size: 1.6rem;
	overflow-x: hidden;
	line-height: 1.4;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
	display: block;
}

a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

/* GRID */

.container {
	max-width: 150rem;
	margin: 0 auto;
	padding: 1.5rem;
	width: 100%;
	transition: 0.5s ease;
}

/* header */
.header {
	background: transparent;
	padding: 2rem;
	position: relative;
	position: fixed;
	width: 100%;
	z-index: 999;
}



.header__nav ul {
	display: flex;
	gap: 2rem;
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__nav ul.nav li a {
	color: var(--light);
	font-size: 1.5rem;
	font-weight: 600;
	transition: 0.5s ease;
}

.header__nav ul li:hover a {
	color: var(--primary);
	transition: 0.5s ease;
}

.header__nav ul.nav li:last-child a {
	background: var(--primary);
	padding: 1rem 1.5rem;
	border-radius: 5rem;
	border: 2px solid var(--light);
	transition: 0.5s ease;
}

.header__nav ul li:last-child:hover a {
	background: var(--light);
	transition: 0.5s ease;
}

.header__nav img {
	display: none;
}

.header__nav ul.social {
	display: none;
}

.burgir__menu {
	display: none;
	z-index: 999;
}

.burgir__menu span {
	width: 3rem;
	height: 0.3rem;
	background-color: var(--light); /*3barthingy*/
	display: block;
	border-radius: 5rem;
	transition: 0.5s ease;
}

.burgir__menu span:nth-child(2) {
	margin: 0.5rem 0;
}

.burgir__menu.open span:first-child {
	transform: translate(0, 10px) rotate(225deg);
	transition: 0.5s ease;
}

.burgir__menu.open span:nth-child(2) {
	opacity: 0;
	transition: 0.2s ease;
}

.burgir__menu.open span:last-child {
	transform: translate(0, -7px) rotate(-225deg);
	transition: 0.5s ease;
}

/* header mobile */

@media screen and (max-width: 500px) {
	.header__nav {
		background: var(--dark);
		position: absolute;
		top: 0rem;
		width: 100%;
		height: 100vh; /*viewport heigt, viewport width the whole browser and sasakupin    % is availabe space ng element    */
		right: -100rem;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 100%;
	}

	.header__nav ul.nav {
		display: flex;
		flex-direction: column;
	}

	.header__nav ul.social {
		display: flex;
		gap: 2rem;
		transform: translateY(3rem);
	}

	.header__nav ul.social li a {
		color: var(--light);
		font-size: 3rem;
	}

	.header__nav img {
		display: flex;
		transform: translateY(-3rem);
	}

	.burgir__menu {
		display: block;
	}
	.header__nav.open {
		right: 0rem;
		transition: 0.5s ease;
	}

	.header__nav {
		right: -100rem;
		transition: 0.5s ease;
	}
}

/* BANNER AHAHHAHAHHAHAHAHAHHAHAHHAHAHHA */
.banner {
	background-image: url("img/banner_home_v1.jpg");
	background-size: cover;
	height: 100vh;
	background-position: center center;
	position: relative;
  display: flex;
  align-items: center;
}
.banner__faq {
	background: var(--light);
	width: fit-content;
	padding: 2.5rem 4rem;
	border-top-left-radius: 4rem;
	position: absolute;
	bottom: 0;
	right: 0;
  }
  .banner__faq a {
	display: flex;
	text-align: center;
	gap: 2rem;
	color: var(--dark);
	font-size: 1.5rem;
	font-weight: 600;
  }
  .banner__faq a:hover {
	color: var(--primary);
  }
  .banner__faq a i {
	transition: 0.5s ease;
  }
  .banner__faq a:hover i {
	transform: translateX(1rem);
	transition: 0.5s ease;
  }
  .banner__text ul.social {
	display: flex;
	align-items: center;
	gap: 2rem;
  }
  .banner__text ul.social li a {
	color: var(--light);
	font-size: 3rem;
  }
  .banner__text {
	max-width: 65rem;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	
  }
  .banner__text h1 {
	font-size: 5rem;
	color: var(--light);
	font-weight: 600;
  }
  .banner__text p {
	color: var(--light);
	font-size: 2rem;
  }
  .banner__text ul.dutdot {
	display: flex;
	gap: 3rem;
	
  }

  .banner {
    position: relative;
    z-index: 1;
}

  /* BANNER MOBIL */

@media screen and (max-width: 500px) {
	.banner__text h1 {
	  font-size: 4rem;
	  text-align: center;
	}
	.banner__text p {
	  font-size: 1.5rem;
	  font-weight: 600;
	  text-align: center;
	}
	.banner__text ul.dutdot {
	  display: flex;
	  flex-direction: column;
	  text-align: center;
	}
	.banner__text ul.dutdot li a {
	  width: 80%;
	}
	.banner__text ul.social {
	  justify-content: center;
	}
	.banner__faq {
	  width: 100%;
	  border-top-left-radius: 0rem;
	}
	.banner__faq a {
	  justify-content: center;
	}
	.banner__text {
	  display: flex;
	  gap: 1rem;
	}
  }

  .offer {
	height: 80vh;
	background-position: center center;
	position: relative;
	display: flex;
	align-items: center;
  }
  .offer__text {
	max-width: 55rem;
	display: flex;
	flex-direction: column;
	gap: 4rem;
  }
  .offer__text h2 {
	font-size: 5rem;
	color: var(--primary);
	font-weight: 600;
  }
  .offer__text p {
	color: var(--dark);
	font-size: 1.6rem;
  }
  .offer__text a {
	gap: 2rem;
	color: var(--light);
	font-size: 1rem;
	font-weight: 600;
	background: var(--primary);
	width: fit-content;
	padding: 0.9rem 1rem;
	border-radius: 5rem;
  }
  .offer__price {
	position: absolute;
	bottom: 30rem;
	right: 40rem;
  }
  .offer__price h3 {
	color: var(--secondary);
	font-size: 3.7rem;
	font-weight: 800;
	display: flex;
	text-align: center;
	gap: 2rem;
  }
  .offer__price__bot h3 {
	position: absolute;
	bottom: -0rem;
	right: 8rem;
	font-size: 15rem;
	font-weight: 800;
	display: flex;
	text-align: center;
	gap: 2rem;
	color: var(--primary);
  }
  .offer__price__bot h4 {
	font-weight: 800;
	font-size: 3.7rem;
	bottom: -9rem;
	right: 10rem;
	color: var(--primary);
  }
  .offer_cents h4 {
	bottom: 9rem;
	right: -8rem;
	color: var(--primary);
  }
  @media screen and (max-width: 500px) {
	.offer__text h2 {
	  font-size: 4rem;
	  text-align: center;
	}
	.offer__text p {
	  font-size: 1.5rem;
	  font-weight: 500;
	}
	.offer__text a {
	  justify-content: center;
	  font-size: 1.3rem;
	  padding: 1.2rem 13em;
	  border-radius: 5rem;
	}
  }

  .how {
	background: var(--primary);
  }
  .how__wrapper {
	display: grid;
	grid-template-columns: 2fr 2fr;
	min-height: 500px;
  }
  .how__ate {
	background-image: url("img/different_img.jpg");
	background-size: cover;
	background-position: center center;
	height: 100%;
  }
  .how__text {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
	max-width: 75rem;
	margin: 0 auto;
  }
  .how__text h2 {
	color: var(--light);
	font-size: 4rem;
	font-weight: 600;
  }
  .how__text p {
	color: var(--light);
  }
  @media screen and (max-width: 500px) {
	.how__wrapper {
	  display: grid;
	  grid-template-columns: 2fr;
	}
	.how__ate {
	  display: none;
	}
	.how__text h2 {
	  font-size: 3rem;
	  gap: 2rem;
	  max-width: 75rem;
	  margin: 0 auto;
	}
	.how__text p {
	  text-align: justify;
	  font-weight: 500;
	  margin: 2rem;
	  gap: 1rem;
	}
	/* RECOMENDED */
  }

  .recommended {
	justify-content: center;
	display: grid;
	grid-template-columns: 2fr;
	place-items: center;
	min-height: 400px;
	gap: 2rem;
	max-width: 75rem;
	margin: 0 auto;
  }
  
  .recommended__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
  }
  
  .recommended__sulat h5 {
	color: var(--primary);
	display: flex;
	align-items:center;
	justify-content:center;
	font-weight: 900;
	font-size: 4rem;
	max-width: 50rem;
	margin: 1;
	justify-content: center;
  }
  .bttn {
	display: flex;
  }

  .btn {
	display: inline-block;
	padding: 0.5rem 1.5rem;
	border-radius: 5rem;
	border: 1px solid transparent;
	transition: 0.5 ease;
	text-align: center;
  }
  .btn:hover {
	scale: 1.1;
	transition: 0.5s ease;
  }
  .btn.bg--primary {
	background: var(--primary);
	color: var(--light);
	font-size: 1 rem;
	font-weight: 600;
  }
  .btn.bg--light {
	background: var(--light);
	color: var(--primary);
	font-size: 1 rem;
	font-weight: 600;
  }
  .btn.bg--light:hover {
	background: var(--primary);
	transition: 0.5s ease;
	color: var(--light);
  }

  /* footer */
  .footer{
	background-color: #134a8c;
    height: 30rem;
	width: 200rem;
  }
 .nav{
	align-content: center;
 }



/* repeatable pattern */
:root {
	--light: #ffffff;
	--dark: #2b2b2b;
	--primary: #134a8c;
	--blud: red;
	--secondary: #e8751a;
}
